/* BuilderLayout.css */
.builder-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--background);
}

.builder-main {
  display: flex;
  flex: 1;
  overflow: hidden;
}
