/* BuilderHeader.css */
.builder-header {
  height: 60px;
  background-color: #161616ff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  z-index: 20;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.back-button {
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-family: var(--font-body);
}

.divider {
  width: 1px;
  height: 24px;
  background-color: var(--border);
}

.header-title {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  font-family: var(--font-heading);
}
