.section {
  position: relative;
  width: 100%;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 5%;
  overflow: hidden;
}

.backgroundImage {
  object-fit: cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.title {
  font-size: var(--h2-size);
  display: flex;
  max-width: 35rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 1.1;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
  margin-top: auto;
}

.card {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1000px);
  -webkit-backdrop-filter: blur(1000px);
  padding: 2.5rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
}

.statNumber {
  font-family: var(--font-heading);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  line-height: 1;
  margin-bottom: 1.5rem;
  letter-spacing: -0.02em;
  display: flex;
  align-items: baseline;
}

.statLabel {
  font-family: var(--font-heading);
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
   margin-bottom: -0.5rem;
}

.statDesc {
  font-family: var(--font-body);
  font-size: 0.85rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.5;
  margin-top: 0.5rem;
  max-width: 90%;
}



@media (min-width: 768px) {
  .title {
    font-size: 4rem;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
