.footer {
  position: relative;
  overflow: hidden;
  padding: 6rem 0 2rem;
  background: #0f0f0f;
}

.background {
  position: absolute;
  inset: 0;
}

.contentWrapper {
  position: relative;
  z-index: 1;
  width: 100%;
}

.contactSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  max-width: 100rem;
  margin: 0 auto 5.5rem;
  padding: 3.75rem;
  border-radius: 1.25rem;
  background: rgba(16, 16, 16, 0.4);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.02);
}

.footerBlock {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding: 2.5rem 3.75rem 2rem;
  border-radius: 1.25rem;
  background: rgba(16, 16, 16, 0.4);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.02);
}

.contactSection h2 {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.contactSection p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  max-width: 60rem;
  margin: 0 auto;
  line-height: 1.6;
}

.form {
  width: 40%;
  margin: 2rem 0;
}

.inputWrapper {
  position: relative;
  display: flex;
  background: #151515e0;
  border: 1px solid rgba(255, 255, 255, 0.03);
  border-radius: 6rem;
  padding: 0.4rem;
  margin-bottom: 1rem;
  backdrop-filter: blur(10px);
}

.input {
  flex: 1;
  background: transparent;
  border: none;
  padding: 0 1.5rem;
  color: #fff;
  font-family: inherit;
  font-size: 0.95rem;
  min-width: 0; /* Prevents overflow */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px transparent;
}

.input:focus {
  outline: none;
}

.submitBtn {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  font-size: 0.9rem;
  padding: 0.8rem 2rem;
  border-radius: 6rem;
  cursor: pointer;
  transition: background 0.2s ease;
  font-weight: 300;
  flex-shrink: 0; /* Prevents button from shrinking */
}

/* Responsiveness for Contact Form */
@media (max-width: 768px) {
  .form {
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .inputWrapper {
    flex-direction: column;
    border-radius: 1.5rem;
    padding: 1rem;
    gap: 1rem;
  }

  .input {
    padding: 0 0.5rem;
    width: 100%;
    text-align: center;
    padding-bottom: 0.1rem;
  }

  .submitBtn {
    width: 100%;
    padding: 0.8rem;
  }
}


.submitBtn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.helper {
  font-size: 0.9rem !important;
  color: rgba(255, 255, 255, 0.4) !important;
  margin-bottom: 0 !important;
}

.columns {
  display: flex;
  gap: 5rem;
}

.columns a {
  display: block;
  margin-bottom: 0.5rem;
  font-family: var(--font-heading);
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 0.2s ease;
  font-weight: 300;
}

.columns a:hover {
  color: #fff;
}

.columns h4 {
  font-family: "Satoshi", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1.5rem;
}

.brand {
  max-width: 25rem;
}

.logo {
  margin-bottom: 0.5rem;
}

.brand p {
  font-family: var(--font-heading);
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
}

.top {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin-bottom: 5rem;
}

.divider {
  display: block;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 1.875rem;
  width: 100%;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.4);
}

.socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icons {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
}

.icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.25rem;
  transition:
    color 0.2s ease,
    transform 0.2s ease;
}

.icons a:hover {
  color: #fff;
}

@media (max-width: 1024px) {
  .top {
    flex-direction: row;
    gap: 2.5rem;
  }

  .columns {
    flex-wrap: wrap;
    gap: 2.5rem;
  }

  .bottom {
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
  }

  .contactSection h2 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .footer {
    padding-bottom: 1rem;
  }

  .top {
    flex-direction: column;
    gap: 2.5rem;
  }

  .contactSection {
    width: 95%;
    padding: 2rem 1.5rem;
    border-radius: 12px;
    margin-bottom: 4rem;
    border: 1px solid rgba(255, 255, 255, 0.01);
  }

  .footerBlock {
    max-width: 95%;
    width: 100%;
    padding: 2rem 1.25rem;
    border-radius: 12px;
    margin-bottom: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.01);
  }

  .form {
    width: 100%;
  }

  .columns {
    flex-direction: column;
    gap: 2rem;
  }

  .footer {
    padding: 5rem 0 0;
  }
}
